@model Nop.Plugin.Misc.TrialTracker.Domain.TrialTrackerRecord
@using System
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
<!-- Button trigger modal -->
<div class="form-group">
    @Html.NopLabelFor(model => model.CustomerName)
    @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.CustomerName)
</div>
<div class="form-group">
    @Html.NopLabelFor(model => model.CustomerEmail)
    @Html.TextBoxFor(model => model.CustomerEmail, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.CustomerEmail)
</div>
@Html.HiddenFor(model => model.ProductName)